body {
    color: #000000;
    font-size: 14px;
    font-family: "PT Sans Narrow Bold", Arial, Helvetica, sans-serif;    
    font-weight: normal;      
    line-height: 18px;
}
h1 {
    color: #000000;
    font-size: 30px;
    font-family: inherit;    
    font-weight: normal;      
    line-height: 42px;
    text-transform: uppercase;
}
h2 {
    color: #000000;
    font-size: 24px;
    font-family: inherit;    
    font-weight: normal;      
    line-height: 30px; 
    text-transform: uppercase;
}